<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.title }} ~ {{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="{{site.author}}">

    <!-- CSS Stylesheets -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bramwell.css" rel="stylesheet">

    <!-- Fav icon -->
    <link rel="shortcut icon" href="/favicon.ico">

    <!-- touch icons -->
    <!--
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/img/apple-touch-icon-57-precomposed.png">
    -->
    {% block head %}{% endblock %}
  </head>

  <body>
    <div id="wrap">

      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">{{ site.title }}</a>
            <div class="nav-collapse collapse">
              <ul class="nav">
                {%- for nav in site.tags['_nav']|sort(attribute='nav_sort') %}
                {%- if nav.url == page.url %}
                <li class="active">
                  <a href="{{ nav.url }}" class="active">{{ nav.title }}</a>
                </li>
                {%- else %}
                <li>
                  <a href="{{ nav.url }}">{{ nav.title }}</a>
                </li>
                {%- endif %}
                {%- endfor %}
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>
      </div>

      <div class="content container">
        {%- block content %}
        {%- endblock %}
      </div>

      <div id="push"></div>
    </div><!-- wrap -->

    <!--
    <div class="sidebar">
      <aside role="complementary">
        {%- block sidebar %}
        {%- endblock %}
      </aside>
    </div>
    -->

    <div id="footer">
      <div class="container">
          <p>
            &copy;{{ site.datetime.strftime('%Y') }} Trevor Bramwell
            | This site is powered by
              <a href="https://github.com/mythmon/wok">wok</a>
            | Last generated: {{ site.datetime.strftime('%c') }}
          </p>
      </div>
    </div> <!-- footer -->

    <!-- jQuery from Google -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.2.min.js"><\/script>')</script>

    <!-- Google Analytics -->
    <script>
      var _gaq=[['_setAccount','UA-31469032-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>

    <script src="/js/bootstrap.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
